.color-1 {
    min-height: 80px;
    background:#fff;
}
.section__title {
    font-size: 30px;
    font-weight: 700;
    flex: none;
    margin: 0;
    text-indent: 3px;
    letter-spacing: 10px;
    text-transform: uppercase;
    color: #d1d1d1;
    display: inline;
    postion: relative;
    float: left;
    padding-right: 50px;
    padding-left: 50px;
    padding-top:20px;
}

*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

nav a {
    position: relative;
    display: inline-block;
    margin: 30px 15px;
    outline: none;
    color: #b5b5b5;
    text-decoration: none;
    letter-spacing: 0.5px;
    font-weight: bold;
    text-shadow: 0 0 1px rgba(255,255,255,0.3);
    font-size: 1.15em;
    float:right;
}

nav a:hover,
nav a:focus {
    outline: none;
    text-decoration:none;
    color:#d94f5c;
}

/* Effect 1: Brackets */
.cl-effect-1 a::before,
.cl-effect-1 a::after {
    display: inline-block;
    opacity: 0;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
    -moz-transition: -moz-transform 0.3s, opacity 0.2s;
    transition: transform 0.3s, opacity 0.2s;
}

.cl-effect-1 a::before {
    margin-right: 10px;
    content: '[';
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    transform: translateX(20px);
}

.cl-effect-1 a::after {
    margin-left: 10px;
    content: ']';
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    transform: translateX(-20px);
}

.cl-effect-1 a:hover::before,
.cl-effect-1 a:hover::after,
.cl-effect-1 a:focus::before,
.cl-effect-1 a:focus::after {
    opacity: 1;
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    transform: translateX(0px);
    text-decoration:none;
}

