/** Overall **/
body {
    background-color:white;
}

.container-fluid {
	padding-top: 10px;
	padding-bottom: 100px;
	text-align: center;
	position:relative;
}
.container-fluid .mini-container {
    padding-top: 30px;
    padding-bottom: 50px;
}

.col-2 {
    width:50%;
    float:left;
}

.col-3 {
    width:33.3%;
    float:left;
}

/** Intro Styling **/
.header {
	background-color: #8d8d8d;
	width: 100%;
	color: #ffffff;
    height: 100vh;
    position:relative;
    position: relative;
    margin: 0 auto;
    min-height: 560px;
}

.bg-img {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

/* General link styles */
.header-grid {
    min-height: 95vh;
    max-width: calc(100vw);
    background: #8d8d8d;
    margin: 20px;
    padding: 100px 0;
    z-index: 1;
    position: relative;
    text-align: center;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-transform: translate3d(0,0,0); /* Solves Safari bug because of SVG clipping mask */
}

.header-color {
    backround:#8d8d8d;
}

.link {
    outline: none;
    text-decoration: none;
    position: relative;
    font-size: 7em;
    line-height: 1;
    color: #d1d1d1;
    display: inline-block;
}

/* Nukun */
.header-link {
    color: #d1d1d1;
    font-weight: 900;
    text-transform: uppercase;
    overflow: hidden;
    padding: 10px 0;
    margin-bottom:40px;
    margin-top:40px;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
    height:120px;
}

.header-link:hover {
    color: #1e1a1b;
    text-decoration: none;
}

.header-link::before,
.header-link::after {
    content: '';
    position: absolute;
    width: 53%;
    height: 5px;
    background: #d1d1d1;
    bottom: 10%;
    left: 27%;
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    -webkit-transition-timing-function: cubic-bezier(0.2,1,0.3,1);
    transition-timing-function: cubic-bezier(0.2,1,0.3,1);
}

.header-link::after {
    background: #d94f5c;
    -webkit-transform: translate3d(-300%,0,0) scale3d(0,1,1);
    transform: translate3d(-300%,0,0) scale3d(0,1,1);
}

.header-link:hover::before {
    -webkit-transform: translate3d(300%,0,0) scale3d(0,1,1);
    transform: translate3d(300%,0,0) scale3d(0,1,1);
}

.header-link:hover::after {
    -webkit-transform: translate3d(0,0,0) scale3d(1,1,1);
    transform: translate3d(0,0,0) scale3d(1,1,1);
}

.header-link span {
    color: #d1d1d1;
    display: inline-block;
    position: relative;
    -webkit-transform: perspective(1000px) rotate3d(0,1,0,0deg);
    transform: perspective(1000px) rotate3d(0,1,0,0deg);
    -webkit-transition: -webkit-transform 0.5s, color 0.5s;
    transition: transform 0.5s, color 0.5s;
    -webkit-transition-timing-function: cubic-bezier(0.2,1,0.3,1);
    transition-timing-function: cubic-bezier(0.2,1,0.3,1);
}

.header-link:hover span {
    color: #fff;
    -webkit-transform: perspective(1000px) rotate3d(0,1,0,180deg);
    transform: perspective(1000px) rotate3d(0,1,0,180deg);
}

/** Main Sections **/

#skills, #project {
    background-color: #fff;
    color:black;
}
#aboutme, #experience,#school  {
    background-color: #8d8d8d;
    color:#fff ;
}

.footer {
    background: white;
    text-align:center;
    margin:20px 20px;
    color: #555555;

}
.footer-container {
    justify-content: center;
    position: relative;
    text-align:center;
    display:inline-block;
    align-items: center;
}
.footer a {
    margin-right:10px;
    margin-left:10px;
    color:black;
}
.footer a:hover {
    color:#d94f5c;
    text-decoration: none;
}

.email i {
    margin-bottom: 10px;
    margin-right:5px;
    color:black;

}