/** Overall **/
body {
    background-color:white;
}

.container-fluid {
	text-align: center;
	position:relative;
}

.container-fluid .section-title {
    font-size: 3vw;
    font-weight:700;
    letter-spacing: 10px;
    text-transform: uppercase;
    margin-top:6vh;
    padding:0;
    text-align: center;
    flex:none;
    max-width:100%;
    position:relative; /** absolute makes it so it doesnt take up the whole screen anymore **/
    overflow:hidden;
    /** display:inline also makes it not take up the whole width anymore **/
}

/********************** Main Sections **********************/

/** About Me Section **/

#aboutme {
    height: 55vh;
}

.aboutme-description {
    font-size:1.4vw;
    letter-spacing: 0.8px;
    line-height:1.5;
    font-weight:300;
    text-align: center;
    margin-top:6vh;
    margin-left:15%;
    margin-right:15%;
    border-style: dashed;
    padding: 4vh;
    /*display:flex;*/
    /*justify-content: center;*/
    /*align-items:center;*/
    /*margin-left:auto;*/
    /*margin-right:auto;*/
}
#skills, #project {
    height:100vh;
}

/** Technical Skills Section **/

#skills{
    background-color: #e2c8c4  ;
    color:#fff ;
    height:45vh;
}

#skills .section-title{
    margin-bottom: 5vh;
}

#know, #learning {
    font-size:1.6vw;
    text-align:left;
    letter-spacing: 0.8px;
    line-height:1.5;
    font-weight:300;
}

#know {
    float:right;
}

/** Work Experience Section **/

#experience {
    background-color: #fff;
    color:black;
    height:60vh;
}

#experience-description {
    font-size:1.4vw;
    letter-spacing: 0.8px;
    line-height:1.5;
    font-weight:300;
    max-width:45vw;
    padding-top: 5vh;
    padding-bottom: 5vh;
    padding-right:15vh;

}

#experience .col-sm-6 img {
    padding-top:7vh;
    padding-bottom: 7vh;
    padding-left: 30vh;
}

#experience h3 {
    font-size: 1.8vw;
}

/*!** Personal Project Section **!*/
#project {
    background-color: #bdbdbd;
    color:#f7f7f7 ;
    height:70vh;
}

#project .col-md-4 {
    text-align:center;
    letter-spacing: 0.8px;
    line-height:1.5;
    font-weight:300;

}

#project .row  {
    margin-top:10vh;
}
#meetup, #roulette, #thiswebsite {
    font-size:2vw;
    border-style:solid;
    border-width: 8px;
    margin:0 auto;
    display:inline-block;
    max-width:27vw;
    padding:7vh;
    text-align:center;
    line-height:1.2;
    margin-bottom:4vh;
    letter-spacing: 1px;
}

#project .col-md-4 p,
#project .col-md-4 a{
    font-size:1.4vw;
    color:white;
    margin: 0 auto;
    max-width:18vw;
}

#project .col-md-4 a{
    font-weight:bold;
}

#project .col-md-4 a:hover{
    color:#d94f5c;
    text-decoration: none;
}
/** Footer **/

.footer {
    background: white;
    text-align:center;
    margin:20px 20px;
    color: #555555;

}

.footer-container {
    justify-content: center;
    position: relative;
    text-align:center;
    display:inline-block;
    align-items: center;
}
.footer a {
    margin-right:10px;
    margin-left:10px;
    color:black;
}
.footer a:hover {
    color:#d94f5c;
    text-decoration: none;
}

.email i {
    margin-bottom: 10px;
    margin-right:5px;
    color:black;

}

