/** Overall **/
body {
    background-color:white;
}

.container-fluid {
	padding-top: 10px;
	padding-bottom: 100px;
	text-align: center;
	position:relative;
}
.container-fluid .mini-container {
    padding-top: 30px;
    padding-bottom: 50px;
}

.col-2 {
    width:50%;
    float:left;
}

.col-3 {
    width:33.3%;
    float:left;
}

/** Intro Styling **/
.header {
	background-color: #8d8d8d;
	width: 100%;
	color: #ffffff;
    height: 100vh;
    position:relative;
    position: relative;
    margin: 0 auto;
    min-height: 560px;
}

.bg-img {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

#skills, #project {
	background-color: #8d8d8d;
    color:#fff ;
}
#experience,#school  {
	background-color: #fff;
	color:black;
}


.footer {
    background: white;
    text-align:center;
    margin:20px 20px;
    color: #555555;

}
.footer-container {
    justify-content: center;
    position: relative;
    text-align:center;
    display:inline-block;
    align-items: center;
}
.footer a {
    margin-right:10px;
    margin-left:10px;
    color:black;
}
.footer a:hover {
    color:#d94f5c;
    text-decoration: none;
}

.email i {
    margin-bottom: 10px;
    margin-right:5px;
    color:black;


}